@use './../../styles/variables' as vars;
@use './../../styles/mixins' as mixins;

.line {
  display: block;
  height: 28px;
  width: 3px;
  background-color: vars.$line-bg-color;
}

@include mixins.tablet-portrait {
  .line {
    height: 24px;
  }
}

@include mixins.phone-large {
  .line {
    height: 20px;
  }
}

@include mixins.phone-small {
  .line {
    height: 16px;
  }
}
