@use './../../styles/variables' as vars;
@use './../../styles/mixins' as mixins;

.date {
  font-family: 'Kyiv Type Titling', sans-serif;
  color: vars.$date-text-color;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

@include mixins.tablet-portrait {
  .date {
    font-size: 20px;
  }
}

@include mixins.phone-large {
  .date {
    font-size: 16px;
  }
}
