@use './../../styles/mixins' as mixins;

.user {
  cursor: pointer;

  @include mixins.transitionAll;

  & > img {
    width: 74px;
    height: 74px;
    border-radius: 50%;
  }

  &:hover {
    transform: scale(1.1);
  }
}

@include mixins.tablet-portrait {
  .user {
    & > img {
      width: 60px;
      height: 60px;
    }
  }
}

@include mixins.phone-large {
  .user {
    & > img {
      width: 48px;
      height: 48px;
    }
  }
}
