.user {
  transition: all 0.3s;
  cursor: pointer;

  & > img {
    width: 74px;
    height: 74px;
    border-radius: 50%;
  }

  &:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 768px) {
  .user {
    & > img {
      width: 60px;
      height: 60px;
    }
  }
}

@media (max-width: 425px) {
  .user {
    & > img {
      width: 48px;
      height: 48px;
    }
  }
}
