@use './../../styles/mixins' as mixins;

.genres {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;

  & > li {
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
  }
}

@include mixins.tablet-portrait {
  .genres {
    & > li {
      font-size: 24px;
      line-height: 24px;
    }
  }
}

@include mixins.phone-large {
  .genres {
    & > li {
      font-size: 18px;
      line-height: 18px;
    }
  }
}

@include mixins.phone-small {
  .genres {
    & > li {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
