@font-face {
  font-family: 'Kyiv Type Titling';
  src: url('./assets/fonts/KyivTypeTitling-Medium.woff2') format('woff2'),
    url('./assets/fonts/KyivTypeTitling-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
