$age-second-bg-color: #d50d1f;
$age-bg-color: #ffffff7d;
$info-text-color: #a7a6a6;
$btn-border-color: #fff;
$btn-show-bg-color: #d50d1f;
$btn-shadow-color: #fff;
$carousel-btn-color: #fff;
$carousel-btn-disabled-color: #a7a6a6;
$date-text-color: #c8c8c8;
$line-bg-color: #fff;
$poster-border-color: #fff;
