.logo {
  transition: all 0.3s;

  & > img {
    width: 156px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 768px) {
  .logo {
    & > img {
      width: 130px;
    }
  }
}

@media (max-width: 425px) {
  .logo {
    & > img {
      width: 100px;
    }
  }
}
