@use './../../styles/mixins' as mixins;

.logo {
  @include mixins.transitionAll;

  & > img {
    width: 156px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

@include mixins.tablet-portrait {
  .logo {
    & > img {
      width: 130px;
    }
  }
}

@include mixins.phone-large {
  .logo {
    & > img {
      width: 100px;
    }
  }
}
