@use './../../styles/variables' as vars;
@use './../../styles/mixins' as mixins;

.age {
  position: relative;
  display: flex;
  height: 66px;
  width: 174px;
}

.left {
  position: absolute;
  width: 33px;
  height: 100%;
  background: vars.$age-second-bg-color;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  background: vars.$age-bg-color;
  width: 174px;

  & > span {
    font-size: 24px;
    font-weight: 500;
    line-height: 141.52%;
  }
}

@include mixins.tablet-landscape {
  .age {
    position: absolute;
    right: 0;
    bottom: -30px;
  }
}

@include mixins.tablet-portrait {
  .age {
    height: 60px;
    width: 154px;
  }

  .right {
    & > span {
      font-size: 20px;
    }
  }
}

@include mixins.phone-large {
  .age {
    height: 50px;
    width: 134px;
  }
}
