.header {
  padding-block: 40px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  width: 36px;
  height: 36px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}
