.header {
  padding-block: 40px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  width: 36px;
  height: 36px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 1024px) {
  .header {
    padding-block: 30px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-block: 20px;
  }

  .search {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 425px) {
  .left,
  .right {
    gap: 10px;
  }

  .search {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 320px) {
  .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .left {
    margin-bottom: 20px;
  }

  .right {
    margin-left: auto;
  }
}
