@use './../../styles/mixins' as mixins;

.header {
  padding-block: 40px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  width: 36px;
  height: 36px;
  cursor: pointer;

  @include mixins.transitionAll;

  &:hover {
    transform: scale(1.1);
  }
}

@include mixins.tablet-landscape {
  .header {
    padding-block: 30px;
  }
}

@include mixins.tablet-portrait {
  .header {
    padding-block: 20px;
  }

  .search {
    width: 26px;
    height: 26px;
  }
}

@include mixins.phone-large {
  .left,
  .right {
    gap: 10px;
  }

  .search {
    width: 20px;
    height: 20px;
  }
}

@include mixins.phone-small {
  .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .left {
    margin-bottom: 20px;
  }

  .right {
    margin-left: auto;
  }
}
