.wrapper {
  max-width: 850px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.title {
  font-size: 22px;
  font-weight: 800;
  line-height: 144.52%;
  letter-spacing: 13.5%;
  text-transform: uppercase;
}

.btns {
  display: flex;
  align-items: center;
  gap: 24px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 5px 5px 20px #fff;
  }

  &:disabled {
    width: 38px;
    height: 38px;
    border-color: rgb(167, 166, 166);

    & > img {
      opacity: 0.6;
    }
  }
}

.bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.postersWrapper {
  position: relative;
  left: -110px;
  min-width: 1100px;
  overflow: hidden;
}

.posters {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 40px;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1024px) {
  .postersWrapper {
    left: -220px;
    margin-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .postersWrapper {
    left: -400px;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 18px;
  }

  .btns {
    gap: 16px;
  }

  .btn {
    width: 36px;
    height: 36px;
  }

  .disabled {
    width: 30px;
    height: 30px;
  }

  .postersWrapper {
    left: -750px;
  }
}

@media (max-width: 320px) {
  .title {
    margin-right: 10px;
  }

  .btns {
    gap: 12px;
  }

  .postersWrapper {
    left: -850px;
  }
}
