@use './styles/fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-image: url('./assets/images/main-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin-inline: auto;
  max-width: 1200px;
}

@media (max-width: 1024px) {
  .container {
    padding-inline: 30px;
  }
}
